<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>跨域测试</div>
    <iframe src="http://a.com/loading.html" frameborder="0"></iframe>
    <script>
        document.domain = "a.com"
    </script>

</body>

</html>